html,
body{
    height: 100%;
    font-family: 'Montserrat';
    margin-top: -3;
}

h1 h2 h3 h4{
    font-family: 'Playfair Display SC', serif;
  }

aside .nav-pills .nav-link {
    border-radius: 0;
    color: #444444;
}

aside .nav-pills .nav-link:hover {
    background: rgba(0, 0, 0, 0.05);
}

aside .nav-pills .nav-link.active {
    background: rgba(0, 0, 0, 0.05);
    color: #b90000;
    border-left: 4px solid #b90000;
}

.navbar-brand .navbar-link {
    font-family: Viga;
    font-size: 32px;
}
.navbar-brand{
    height: 20px;
    font-size: 10px;
}
.navbar-brand > img {
    /* width: relative; */
    height: 40px;    
    margin-top: -20px;
}



/* Desktop Version */
@media(min-width : 992px){
    .navbar-brand > img {
    /* width: relative; */
    height: 50px;
    font-size: 12px;
}
.nav-brand .nav-link{
    color:white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, alpha);
}
}